<div class="panel">
    <div class="panel-heading">
        <h3>Regions</h3>
    </div>
    <div class="panel-body sectors">
        <div data-bind="barChart: regions, chartOptions: { series: ['eventsByRegion'] }"></div>
    </div>
</div>
