<div class="container">
    <div class="panel event-page">
        <div class="panel-heading">
            <h2 data-bind='text: Name'>Event</h2>
        </div>
        <div class="panel-body container-fluid">
            <p class="row">
                <div data-bind="visible: (ImgUrl !== "")" class="col-md-6">
                    <img data-bind="attr: { src: ImgUrl}">
                </div>
            </p>
            <p class="row">
                <div class="col-md-8">
                    <h4>Details</h4>
                    <dl>
                        <dt>Description</dt>
                        <dd data-bind="text: Description"></dd>
                        <dt>Price</dt>
                        <dd data-bind="text: Price"></dd>
                        <dt>Website</dt>
                        <dd><a data-bind="attr: { href: Website}">click here</a></dd>
                    </dl>
                </div>
            </p>
            
        </div>
    </div>
</div>
