<events-filter params="search: search"></events-filter>

<div class="container-fluid">
    <div class="row widget-container">
        <div class="col-md-8">
            <events-component params="search: search"></events-component>
        </div>
        <div class="col-md-4">
            <transactions-component params="search: search"></transactions-component>
            <region-component params="search: search"></region-component>
        </div>
    </div>
</div>