<div class="filter-form">
    <form role="form">
        <div class="form-group">
            <label class="sr-only" for="eventsFilter">Filter events</label>
            <div class="input-group">
                <input type="search" class="form-control" id="eventsFilter" placeholder="Filter events"
                       data-bind="value: search.name, valueUpdate: 'afterkeydown'">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            </div>
        </div>
    </form>
</div>
