<div class="panel">
    <div class="panel-heading">
        <h3>Events</h3>
    </div>
    <div class="panel-body events table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Region</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: events">
                <tr data-bind="click: $parent.showEvent">
                    <td data-bind="text: Id"></td>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Type"></td>
                    <td data-bind="date: StartDate"></td>
                    <td data-bind="date: EndDate"></td>
                    <td data-bind="text: Region"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>